img{
    width: 70%;
    height: 50%;
    padding: /* arriba y abajo /20px / izquierda y derecha */35px;
}

h1{
    color: royalblue;
}

h2{
    color: rgb(55, 131, 161);
}

input{
    background-color: rgb(25, 99, 128);
    color: snow;
}